/* mobile first rules */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; /* 1em = 16px 2em = 32px  , we set the vaule of em unit then times it  */
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;     /*will stay on 1 line */
  max-width: 1200px;
}

.box {
  background-color: #8ea86e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
   margin: 10px;
   width: 100px;
   font-size: 1em;
   /* 1em = 16px 2em = 32px  , we set the vaule of em unit then times it  */
}
/*handling mobile @landscape size */
@media screen and (min-width: 480px) {
.box {
  background-color: red;
  color: #fefefe;
  width: 150px;
 }

}

/*handling tablet @portrait size */
@media screen and (min-width: 768px) {
  .box {
    background-color: red;
    color: #fefefe;
    width: 150px;
    font-size: 3em;
   }

}
