/* mobile first rules
    -these get applied right away as soon as the page loads
    -these should be your mobile-first desgin rules
    -work up gradually  with media queries to adapt to larger layouts
  */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; /* 1em = 16px 2em = 32px  , we set the vaule of em unit then times it  */
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  max-width: 1200px;
}

.box {
  background-color: #8ea86e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
   margin: 10px;
}

.logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 600px) {
  #main-header {
    display: flex;
    flex-direction: row;
  }

  .box {
    flex: 1 1 auto;  /* grown , shrink and basis  */
  }

  .nav {
    flex: 0 1 600px;
  }

  .logo {
    order: -1;
    flex: 0 1 220px;
    margin-left:10px;
  }

  #products {
    display: flex;
    flex-direction: row;
   }
}
